<div class="container">
    <div class="row"><div class="col"><h1>Aplicacion de COLA</h1></div></div>
    <div class="row">
        <div class="col"><button routerLink="vistausuario" >VISTA DEL USUARIO</button></div>
        <div class="col"><button>CREAR TICKET</button></div>
        <div class="col">
            <h3>VISTA DE EMPLEADOS:</h3>
            <button>EMPLEADO 1</button>
            <button>EMPLEADO 1</button>
            <button>EMPLEADO 1</button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>